* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
}

body {
  display: grid;
  place-items: center;
}

@media (min-width: 120px) {
  main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100%;
    min-height: 812px;
    height: 100vh;
  }
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;

  width: 80px;
  height: 80px;
  border-radius: 8px;
  animation: selo-rotacao 25s infinite;
  animation-timing-function: linear;
}

@keyframes selo-rotacao {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  );
}

@media (min-width: 960px) {
  main {
    background: url(images/desktop.svg) no-repeat center;
  }

  .avatar {
    margin: 13rem auto 0;
  }
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 2rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

.youtube-div,
.instagram-div,
.twitter-div,
.facebook-div {
  background-color: #333339;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;
}

.youtube-div:hover {
  background-color: #ef1b1a;
}

.instagram-div:hover {
  background-color: #d22b9c;
}

.twitter-div:hover {
  background-color: #1ea0f1;
}

.facebook-div:hover {
  background-color: #1b4889;
}
